[core]
  editor = vim
  pager = less -+F -+X -c
[alias]
  a = add
  aa = add . -A
  ap = add -p
  c = commit
  ca = commit --amend
  cane = commit --amend --no-edit
  co = checkout
  comp = !git co main && git pull
  d = diff
  dc = diff --cached
  pf = push --force-with-lease
  pick = cherry-pick
  ra = rebase --abort
  rb = rebase --origin
  rc = rebase --continue
  ri = rebase -i
  s = !git aa && git stash
  sa = stash apply
  sp = stash pop
  st = status
[push]
  default = simple
[pull]
  rebase = true
